<section id="contact" class="banner shadow">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <div class="overImg">
                    <h2>{{ text.contact.title }}</h2>
                    <p>{{ text.contact.description | safe }}</p><br /><br />
                    <div class="text-center">
                        <a class="btn btn-lg btn-yellow" href="mailto:hola@jsday.es">{{ text.contact.button }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>