<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                <span class="sr-only">{{ text.header.changeNavState }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{root}}">{{ text.title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav scroll-to navbar-right">
                <li><a href="{{root}}#home">{{ text.header.home }}</a></li>
                <!-- <li><a href="#proposals">{{ text.header.cfp }}</a></li> -->
                {% if sections.streaming %}
                <li><a href="{{root}}#streaming">{{ text.header.streaming }}</a></li>
                {% endif %}

                {% if sections.speakers %}
                <li><a href="{{root}}#speakers">{{ text.header.speakers }}</a></li>
                {% endif %}

                {% if sections.schedule %}
                <li><a href="{{root}}#schedule">{{ text.header.schedule }}</a></li>
                {% endif %}

                {% if sections.where %}
                <li><a href="{{root}}#where">{{ text.header.where }}</a></li>
                {% endif %}

                {% if sections.tickets %}
                <li><a href="{{root}}#tickets">{{ text.header.tickets }}</a></li>
                {% endif %}

                {% if sections.organizers %}
                <li><a href="{{root}}#organizers">{{ text.header.organizers }}</a></li>
                {% endif %}

                {% if sections.newsletter and not sections.streaming %}
                <li><a href="{{root}}#newsletter">{{ text.header.newsletter }}</a></li>
                {% endif %}

                {% if sections.contact %}
                <li><a href="{{root}}#contact">{{ text.header.contact }}</a></li>
                {% endif %}

                {% if sections.sponsors %}
                <li><a href="{{root}}#sponsors">{{ text.header.sponsors }}</a></li>
                {% endif %}

                {% if sections.blog %}
                <li><a href="https://blog.jsday.es">{{ text.header.blog }}</a></li>
                {% endif %}

                {% if sections.codeOfConduct %}
                <li><a href="{{root}}code-of-conduct-{{lang}}.html">{{ text.header.codeOfConduct }}</a></li>
                {% endif %}

                {% if sections.lastEdition %}
                <li><a href="http://2017.jsday.es">{{ text.header.pastEdition }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
