<section id="home" class="home-section">
    <div class="home-inner shadow">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div class="overImg welcome">
                        <div class="welcomeLogo">
                            <img src="/img/logo.png" class="img-logo" alt="Logo JSDay 2020">
                            <span class="date">{{ text.home.date | safe }}</span>
                        </div>
                        <h1 style="color: #fff;">{{ text.home.welcome | safe }}</h1>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>