<section id="newsletter" class="newsletter-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
              <h2 id="newsletter">{{ text.header.newsletter }}</h2>
                <span class="center-line"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <p>{{ text.newsletter.message1 }}<br />{{ text.newsletter.message2 }}</p>
                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 60rem;"
                        src="{{ text.newsletter.url }}"></iframe>
            </div>
        </div>
    </div>
</section>

