<section id="organizers" class="section-organizers">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <h3>{{ text.organizers.title }}</h3>
                <span class="center-line"></span>
                <p>{{ text.organizers.description | safe }}</p>
            </div>
        </div>
        <div class="row">
            <ul id="organizers-slider" class="organizers-slider">
                <li class="item">
                    <div class="organizers-box">
                        <a href="http://www.meetup.com/es-ES/Madrid-Polymer-Group/">
                            <img data-src="/img/organizacion/organizer-4.png" width="231" height="80" class="img-responsive" alt="Madrid Polymer Group">
                        </a>
                    </div>
                </li>
                <li class="item">
                    <div class="organizers-box">
                        <a href="http://www.meetup.com/es-ES/Node-js-Madrid/">
                            <img data-src="/img/organizacion/organizer-2.png" width="268" height="85" class="img-responsive" alt="NodeJS Madrid">
                        </a>
                    </div>
                </li>
                <li class="item">
                    <div class="organizers-box">
                        <a href="http://www.meetup.com/es-ES/madridjs/">
                            <img data-src="/img/organizacion/organizer-3.png" width="268" height="84" class="img-responsive" alt="Madrid JS">
                        </a>
                    </div>
                </li>
                    <li class="item">
                    <div class="organizers-box">
                        <a href="http://www.meetup.com/es-ES/AngularJS_Madrid/">
                            <img data-src="/img/organizacion/organizer-1.png" width="242" height="86" class="img-responsive" alt="AngularJS Madrid">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center codigo">
                <h3>{{ text.codeOfConduct.title }}</h3>
                <span class="center-line"></span>
                <p>{{ text.codeOfConduct.description | safe }}</p>
            </div>
        </div>
    </div>
</section>