<section id="event-presentation">
    <div class="container">
        <div class="row description">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <h2>{{ text.eventPresentation.title }}</h2>
                <p>{{ text.eventPresentation.description }}</p>
                <p>{{ text.eventPresentation.description2 }}<p>
            </div>
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <!-- <a target="noopener" href="/call-for-proposals-{{ _lang_ }}.html" class="btn btn-dark btn-lg">{{ text.cfp.title }}</a> -->
                <!-- <a target="noopener" href="https://www.koliseo.com/jsdayes/jsday-es-2020/r4p/5765283616653312#/" class="btn btn-dark btn-lg">{{ text.cfp.title }}</a> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UQ2tKT_tS90" frameborder="1" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row hide-{{ _lang_ }}">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="flexslider testi-slider wow animated fadeInUp" data-wow-delay=".2s">
                    <br><br>
                    <div class="twitter-icon"><i class="fa fa-twitter"></i></div>
                    <ul class="slides">
                        <li>
                            <div class="testi-item testi-slider-item">
                                <p>
                                    Lo mejor la organizaci&oacute;n del evento y el nivel en general de los conferenciantes. #JSDayES Un 10
                                </p>
                                <p><i>@jdonsan</i></p>
                            </div>
                        </li>
                        <li>
                            <div class="testi-item testi-slider-item">
                                <p>
                                    Felicidades al equipo de JSDayES por un gran evento. #JSDayES
                                </p>
                                <p><i>@victor_cuervo</i></p>
                            </div>
                        </li>
                        <li>
                            <div class="testi-item testi-slider-item">
                                <p>
                                    Enhorabuena a la organizaci&oacute;n,ponentes y patrocinadores de #JSDayES 2015.Con ganas de poder asistir a la edici&oacute;n de 2016
                                </p>
                                <p><i>@3mw3m</i></p>
                            </div>
                        </li>
                        <li>
                            <div class="testi-item testi-slider-item">
                                <p>
                                    Genial el JSDayES de hoy. La &uacute;ltima charla ya la he visto en streaming en casa. Esperando con ganas el siguiente! #JSDayES
                                </p>
                                <p><i>@marcoocram</i></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>