<section id="proposals" class="proposals">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <h2><i class="fa fa-bullhorn" aria-hidden="true"></i> {{text.cfp.join}}</h2>
                <span class="center-line"></span>
                <p>{{text.cfp.description | safe}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h3>{{text.cfp.dates}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <ul class="proposals-style list-unstyled">
                    <li class="clearfix">
                        <div class="detail">
                            <h4>{{text.cfp.limit}}</h4>
                            <span class="date">{{text.cfp.datelimit}}</span>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="detail">
                            <h4>{{text.cfp.notificationTitle}}</h4>
                            <span>{{text.cfp.notification}}</span>
                            <span class="date">{{text.cfp.notificationlimit}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div> <br><br>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <a target="noopener" href="{{koliseoCfp}}" class="btn btn-yellow btn-lg">{{ text.cfp.title }}</a>
                <a href="{{root}}call-for-proposals-{{lang}}.html" class="learn btn btn-yellow btn-lg">{{ text.cfp.learn }}</a>
            </div>
        </div>
    </div>
</section>