<section id="sponsors" class="section-sponsors">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <h3>{{ text.sponsors.title }}</h3>
                <span class="center-line"></span>
                <p>{{ text.sponsors.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h4>Diamond</h4>
            </div>
        </div>
        <div class="row">
            <ul class="logos">
                <li>
                    <div class="box">
                        <a href="https://www.kairosds.com/">
                            <img src="/img/sponsors/kairos.png" width="270" height="49" class="img-responsive" alt="Kairos">
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h4>Platinum Plus</h4>
            </div>
        </div>
        <div class="row">
            <ul class="logos">
                <li>
                    <div class="box">
                        <a href="https://www.gft.com/microsites/gft-ready-to-grow-talents-wanted/">
                            <img src="/img/sponsors/gft.jpg" width="270" class="img-responsive" alt="GFT">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h4>Platinum</h4>
            </div>
        </div>
        <div class="row">
            <ul class="logos">
                <li>
                    <div class="box">
                        <a href="https://www.intelygenz.software/">
                            <img src="/img/sponsors/intelygenz.png" width="270" class="img-responsive" alt="Intelygenz">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://www.corusconsulting.com">
                            <img src="/img/sponsors/corus.png" width="270" class="img-responsive" alt="Corus">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://www.schibsted.es/">
                            <img src="/img/sponsors/schibstedspain.png" width="270" class="img-responsive" alt="Schibsted">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://www.babel.es/">
                            <img src="/img/sponsors/babel.png" width="270" class="img-responsive" alt="Babel">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://www.cognizant.com">
                            <img src="/img/sponsors/cognizant.jpg" width="270" class="img-responsive" alt="Cognizant">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://sngular.team/">
                            <img src="/img/sponsors/sngular.png" width="270" class="img-responsive" alt="Sngular">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://www.bbvanexttechnologies.com/">
                            <img src="/img/sponsors/bbva.png" width="270" class="img-responsive" alt="BBVA Next Technologies">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://www.cloudappi.net/">
                            <img src="/img/sponsors/cloudappi.png" width="270" class="img-responsive" alt="CloudAppi S.L">
                        </a>
                    </div>
                </li>

            </ul>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h4>Gold</h4>
            </div>
        </div>

        <div class="row">
            <ul class="logos">
                <li>
                    <div class="box">
                        <a href="https://www.idealista.com/">
                            <img src="/img/sponsors/idealista.png" width="220" class="img-responsive" alt="Idealista">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://www.coverwallet.com/">
                            <img src="/img/sponsors/coverwallet.png" width="220" class="img-responsive" alt="Coverwallet">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://theworkshop.com/">
                            <img src="/img/sponsors/theworkshop.png" width="220" class="img-responsive" alt="The Workshop">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://www.edreamsodigeo.com/">
                            <img src="/img/sponsors/edreams.jpg" width="220" class="img-responsive" alt="Edreams">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://www.amaris.com/">
                            <img src="/img/sponsors/amaris.png" width="220" class="img-responsive" alt="Amaris">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://www.minsait.com/">
                            <img src="/img/sponsors/minsait.png" width="220" class="img-responsive" alt="Minsait">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h4>Silver</h4>
            </div>
        </div>

        <div class="row">

            <ul class="logos">
                <li>
                    <div class="box">
                        <a href="http://kaleidos.net/">
                            <img src="/img/sponsors/kaleidos.png" width="150" height="42" class="img-responsive" alt="Kaleidos">
                        </a>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="https://www.autentia.com/">
                            <img src="/img/sponsors/autentia.png" width="150" height="42" class="img-responsive" alt="Autentia">
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <!--
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h4>Diamond</h4>
            </div>
        </div>
        <div class="row">

            <ul class="logos">

                <li>
                <div class="box">
                    <a href="http://www.gft.com"><img src="img/sponsors/gft.png" width="270" height="49" class="img-responsive" alt="GFT"></a>
                </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h4>Platinum</h4>
            </div>
        </div>
        <div class="row">
            <ul class="logos">
                <li>
                <div class="box">
                    <a href="http://www.gft.com/es"><img src="/img/sponsors/GFT_Logo.jpg" width="270" class="img-responsive" alt="GFT"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://cabify.com/"><img src="/img/sponsors/cabify-logo.png" width="270" class="img-responsive" alt="Cabify"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://www.liferay.com/"><img src="/img/sponsors/liferay.png" width="270" class="img-responsive" alt="Liferay"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://www.beeva.com/"><img src="/img/sponsors/beeva.jpg" width="270" class="img-responsive" alt="BEEVA"></a>
                </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h4>Gold Plus</h4>
            </div>
        </div>

        <div class="row">

            <ul class="logos">
                <li>
                    <div class="box">
                    <a href="http://www.esri.com/"><img src="/img/sponsors/ersi.png" width="220" class="img-responsive" alt="ersi"></a>
                    </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://carto.com/"><img src="/img/sponsors/carto.png" width="220" class="img-responsive" alt="carto"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="http://www.kairosds.com/"><img src="/img/sponsors/kairos.jpg" width="220" class="img-responsive" alt="kairos"></a>
                </div>
                </li>

            </ul>

        </div>


        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h4>Gold</h4>
            </div>
        </div>

        <div class="row">

            <ul class="logos">
                <li>
                <div class="box">
                    <a href="http://www.intelygenz.es/"><img src="/img/sponsors/intelygenz.png" width="220" class="img-responsive" alt="intelygenz: if you have a dream, we write the code"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://tecnilogica.com/en"><img src="/img/sponsors/tecnilogica.png" width="220" class="img-responsive" alt="tecnilogica"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://sngular.team/"><img src="/img/sponsors/sngular.jpg" width="220" class="img-responsive" alt="sngular"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://www.theworkshop.com/"><img src="/img/sponsors/theworkshop.png" width="220" class="img-responsive" alt="the workshop"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="http://www.m4v.es/"><img src="/img/sponsors/CorusConsulting.png" width="220" class="img-responsive" alt="Corus Consulting"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="http://edreamsodigeo.com"><img src="/img/sponsors/edreams.jpg" width="220" class="img-responsive" alt="Corus Consulting"></a>
                </div>
                </li>
            </ul>

        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h4>Community Partner</h4>
            </div>
        </div>

        <div class="row">

            <ul class="logos">
                <li>
                <div class="box">
                    <a href="https://js.foundation/"><img src="/img/sponsors/jsfoundation.png" width="220" class="img-responsive" alt="jsfoundation"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://www.autentia.com/"><img src="/img/sponsors/6175977216.jpeg" width="220" class="img-responsive" alt="autentia"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://betabeers.com/"><img src="/img/sponsors/betabeers.png" width="220" class="img-responsive" alt="betabeers"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://www.todojs.com/"><img src="/img/sponsors/todoJS.PNG" width="220" class="img-responsive" alt="todojs"></a>
                </div>
                </li>
            </ul>

        </div>



        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h4>Silver</h4>
            </div>
        </div>

        <div class="row">

            <ul class="logos">
                <li>
                <div class="box">
                    <a href="http://kaleidos.net/"><img src="/img/sponsors/kaleidos.png" width="150" height="42" class="img-responsive" alt="Kaleidos"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://www.yld.io/"><img src="/img/sponsors/yld.png" width="150" class="img-responsive" alt="Yld"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://metadev.pro/"><img src="/img/sponsors/metadev.png" width="150" class="img-responsive" alt="Metadev"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://www.adobe.io/"><img src="/img/sponsors/adobe_io_logo.png" width="150" class="img-responsive" alt="Adobe IO"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="https://www.mozilla.org/"><img src="/img/sponsors/mozilla.jpg" width="150" class="img-responsive" alt="Mozilla"></a>
                </div>
                </li>
            </ul>

        </div>

         <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h4>Media Partners</h4>
            </div>

        </div>
         <div class="row">

            <ul class="logos">

                <li>
                <div class="box">
                    <a href="http://www.gacetatecnologica.com/"><img src="img/sponsors/gaceta.png" class="img-responsive" width="180" height="61" alt="Gaceta Tecnológica"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="http://www.ticjob.es"><img src="img/sponsors/ticjob.png" width="180" height="102" class="img-responsive" alt="ticjob.es"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="http://betabeers.com/"><img src="img/sponsors/betabeers.png" width="180" height="34" class="img-responsive" alt="Betabeers"></a>
                </div>
                </li>
                <li>
                <div class="box">
                    <a href="http://autentia.com/"><img src="img/sponsors/autentia.png" width="180" height="56" class="img-responsive" alt="Autentia. Soporte a desarrollo inform&aacute;tico"></a>
                </div>
                </li>
            </ul>

        </div> -->


        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 center-title text-center">
                <h4>{{ text.sponsorsInfo.title }}</h4>
                <table id="sponsor-mobile-table" class="table">
                    <thead>
                        <tr>
                            <th>Silver - 750€</th>
                            <th>Gold - 1500€</th>
                            <th>Gold Plus - 2000€</th>
                            <th>Platinum - 3000€</th>
                            <th>Diamond - 5000€</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" colspan="5">{{ text.sponsorsInfo.logo }}</th>
                        </tr>
                        <tr>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="5">{{ text.sponsorsInfo.acknowledgment }}</th>
                        </tr>
                        <tr>

                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="5">{{ text.sponsorsInfo.printLogo }}</th>
                        </tr>
                        <tr>

                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="5">{{ text.sponsorsInfo.logoscreen }}</th>
                        </tr>
                        <tr>

                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="5">{{ text.sponsorsInfo.table }}</th>
                        </tr>
                        <tr>

                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="5">{{ text.sponsorsInfo.presentation }}</th>
                        </tr>
                        <tr>

                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="5">{{ text.sponsorsInfo.welcomePack }}</th>
                        </tr>
                        <tr>

                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="5">{{ text.sponsorsInfo.rrss }}</th>
                        </tr>
                        <tr>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="5">{{ text.sponsorsInfo.standalonemailing }}</th>
                        </tr>
                        <tr>

                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="5">{{ text.sponsorsInfo.dinner }}</th>
                        </tr>
                        <tr>

                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>1 {{ text.sponsorsInfo.person }}</td>
                            <td>1 {{ text.sponsorsInfo.person }}</td>
                            <td>2 {{ text.sponsorsInfo.people }}</td>
                            <td>3 {{ text.sponsorsInfo.people }}</td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="5">{{ text.sponsorsInfo.sponsorticket }}</th>
                        </tr>
                        <tr>
                            <td>2 {{ text.sponsorsInfo.ticket }}</td>
                            <td>4 {{ text.sponsorsInfo.ticket }}</td>
                            <td>5 {{ text.sponsorsInfo.ticket }}</td>
                            <td>6 {{ text.sponsorsInfo.tickets }}</td>
                            <td>8 {{ text.sponsorsInfo.tickets }}</td>
                        </tr>
                    </tbody>
                </table>
                <table id="sponsor-table" class="table">
                    <thead>
                        <tr>
                            <td></td>
                            <th>Silver - 1000€</th>
                            <th>Gold - 1500€</th>
                            <th>Platinum - 3000€</th>
                            <th>Platinum Plus - 4000€</th>
                            <th>Diamond - 5000€</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{ text.sponsorsInfo.logo }}</th>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ text.sponsorsInfo.acknowledgment }}</th>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ text.sponsorsInfo.printLogo }}</th>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ text.sponsorsInfo.logoscreen }}</th>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ text.sponsorsInfo.table }}</th>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ text.sponsorsInfo.presentation }}</th>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ text.sponsorsInfo.trackSponsor }}</th>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ text.sponsorsInfo.welcomePack }}</th>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ text.sponsorsInfo.rrss }}</th>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ text.sponsorsInfo.standalonemailing }}</th>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.allowed }}</span>
                                <i class="fa fa-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ text.sponsorsInfo.dinner }}</th>
                            <td>
                                <span class="sr-only">{{ text.sponsorsInfo.notallowed }}</span>
                            </td>
                            <td>1 {{ text.sponsorsInfo.person }}</td>
                            <td>2 {{ text.sponsorsInfo.person }}</td>
                            <td>2 {{ text.sponsorsInfo.people }}</td>
                            <td>3 {{ text.sponsorsInfo.people }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ text.sponsorsInfo.freetickets }}</th>
                            <td>2 {{ text.sponsorsInfo.ticket }}</td>
                            <td>4 {{ text.sponsorsInfo.ticket }}</td>
                            <td>6 {{ text.sponsorsInfo.ticket }}</td>
                            <td>7 {{ text.sponsorsInfo.tickets }}</td>
                            <td>8 {{ text.sponsorsInfo.tickets }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="col-sm-8 col-sm-offset-2 center-title text-center">
                <h4>Otras Fórmulas de Patrocinio</h4>
                <table id="other-sponsor-mobile-table" class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Coffe break</th>
                            <th scope="row">Community basic support</th>
                            <th scope="row">Lanyards</th>
                        </tr>
                        <tr>
                            <td>1000 €</td>
                            <td>100 €</td>
                            <td>500 €</td>
                        </tr>
                        <tr>
                            <th scope="row">Lunch break</th>
                            <th scope="row">Networking event</th>
                            <th scope="row">Sweet Break</th>

                        </tr>
                        <tr>
                            <td>3000€</td>
                            <td>600 €</td>
                            <td>500 €</td>
                        </tr>
                        <tr>
                            <th scope="row">Community Standard support</th>
                            <th scope="row">Lunch Break</th>
                            <th scope="row">Community Premium support</th>
                        </tr>
                        <tr>
                            <td>200 €</td>
                            <td>600 €</td>
                            <td>300 €</td>
                        </tr>
                    </tbody>
                </table>
                <table id="other-sponsor-table" class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Coffe break</th>
                            <td>1000 €</td>
                            <th scope="row">Lanyards</th>
                            <td>500 €</td>
                            <th scope="row">Community basic support</th>
                            <td>100 €</td>
                        </tr>
                        <tr>
                            <th scope="row">Lunch break</th>
                            <td>3000€</td>
                            <th scope="row">Networking event</th>
                            <td>600 €</td>
                            <th scope="row">Community Standard support</th>
                            <td>200 €</td>
                        </tr>
                        <tr>
                            <th scope="row">Sweet Break</th>
                            <td>500 €</td>
                            <th scope="row">Icebreaker event</th>
                            <td>600 €</td>
                            <th scope="row">Community Premium support</th>
                            <td>300 €</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <a href="mailto:hola@jsday.es" class="btn btn-yellow btn-lg">{{ text.sponsors.button }}</a>
            </div>
        </div>

    </div>
</section>
<!--sponsors-->
