<section id="streaming" class="streaming-section">
  <div class="container">
    <div class="row">
      <div class="center-title text-center">
        <h2>{{ text.streaming.title }}</h2>
        <p>{{ text.streaming.text }}</p>
        <span class="center-line"></span>

        <div class="tracks">
          <div class="track">
            <h4>Track GFT</h4>
            <iframe src="https://live.player4.video/JSDAY-track01/i" width="640" height="360" frameborder="0" allow="autoplay" allowfullscreen></iframe>
          </div>
          <div class="track">
            <h4>Track 2</h4>
            <iframe src="https://live.player4.video/JSDay-track02/i" width="640" height="360" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="track">
            <h4>Track 3</h4>
            <iframe src="https://live.player4.video/JSDay-track03/i" width="640" height="360" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
