<section id="tickets" class="tickets-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <h2>{{ text.tickets.title }}</h2>
                <span class="center-line"></span>
            </div>
        </div>
<!--         <div class="row tickets-row tickets-row-1">
            <div class="col-md-4 col-sm-6 workshop">
                <div class="pricing-simple">
                    <h3>{{ text.tickets.specialWorkshop }}</h3>
                    <h4>{{ text.tickets.specialWorkshopPrice }}</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-square"></i>{{ text.tickets.specialWorkshopDesc }}</li>
                    </ul>
                    <div class="text-center">
                        <a class="btn btn-lg btn-yellow" target="noopener" href="https://www.koliseo.com/jsdayes/jsday-es-2020">{{ text.tickets.buy }}</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row tickets-row">
            <!--
            <div class="col-md-4 col-sm-6">
                <div class="pricing-simple popular">
                    <h3>{{ text.tickets.superearly }}</h3>
                    <h4>{{ text.tickets.superearlyprice }}</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-square"></i>{{ text.tickets.point1 }}</li>
                        <li><i class="fa fa-check-square"></i>{{ text.tickets.point2 }}</li>
                        <li><i class="fa fa-check-square"></i>{{ text.tickets.point3 }}</li>
                    </ul>
                    <div class="text-center">
                        <a class="btn btn-lg btn-yellow" target="noopener" href="https://www.koliseo.com/jsdayes/jsday-es-2020">{{ text.tickets.buy }}</a>
                    </div>
                    <div class="bottom">
                        <p><strong>{{ text.tickets.soldout }}</strong></p>
                    </div>
                </div>
            </div>
            -->
            <div class="col-md-4 col-sm-6">
                <div class="pricing-simple popular">
                    <h3>{{ text.tickets.early }}</h3>
                    <h4>{{ text.tickets.earlyprice }}</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-square"></i>{{ text.tickets.point1 }}</li>
                        <li><i class="fa fa-check-square"></i>{{ text.tickets.point2 }}</li>
                        {% if lang === 'en' %}
                        <li><i class="fa fa-check-square"></i>{{ text.tickets.point3 }}</li>
                        {% endif %}
                    </ul>
                    <div class="bottom">
                        <p><strong>{{ text.tickets.soldout }}</strong></p>
                    </div>
    <!--                 <div class="text-center">
                        <a class="btn btn-lg btn-yellow" target="noopener" href="https://www.koliseo.com/jsdayes/jsday-es-2020">{{ text.tickets.buy }}</a>
                    </div> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-simple">
                    <h3>{{ text.tickets.normal }}</h3>
                    <h4>{{ text.tickets.normalTicketPrice }}</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-square"></i>{{ text.tickets.point1 }}</li>
                        <li><i class="fa fa-check-square"></i>{{ text.tickets.point2 }}</li>
                        {% if lang === 'en' %}
                        <li><i class="fa fa-check-square"></i>{{ text.tickets.point3 }}</li>
                        {% endif %}
                    </ul>
                    <!--
                    <div class="bottom">
                        <div class="text-center">
                            <a class="btn btn-lg btn-yellow" target="noopener" href="https://www.koliseo.com/jsdayes/jsday-es-2020">{{ text.tickets.buy }}</a>
                        </div>
                    </div>
                    -->
                    <div class="bottom">
                        <p><strong>{{ text.tickets.soldout }}</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-simple special">
                    <h3>{{ text.tickets.special }}</h3>
                    <h4>{{ text.tickets.specialTicketPrice }}</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-square"></i>{{ text.tickets.specialpoint }}</li>
                    </ul>
                    <!--
                    <div class="bottom">
                        <div class="text-center">
                            <a class="btn btn-lg btn-yellow" target="noopener" href="https://www.koliseo.com/jsdayes/jsday-es-2020">{{ text.tickets.buy }}</a>
                        </div>
                    </div>
                    -->
                    <div class="bottom">
                        <p><strong>{{ text.tickets.soldout }}</strong></p>
                    </div>
                    <p class="warning">{{ text.tickets.warning }}</p>
                </div>
            </div>
        </div>
            <!-- <div class="col-md-4 col-sm-6">
                <div class="pricing-simple">
                    <h3>Normales</h3>
                    <h4>50€</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-square"></i> Unconference y Workshop (29/04)</li>
                        <li><i class="fa fa-check-square"></i> Acceso a charlas (30/04)</li>
                        <li><i class="fa fa-check-square"></i> Comida (30/04) </li>
                        <li><i class="fa fa-check-square"></i> Pack JSDayES </li>
                    </ul>
                    <div class="bottom">
                        <p><strong>AGOTADAS</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricing-simple">
                    <h3>Cedidas por Google Campus Madrid</h3>
                    <h4>50€</h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check-square"></i> Unconference y Workshop (29/04)</li>
                        <li><i class="fa fa-check-square"></i> Acceso a charlas (30/04)</li>
                        <li><i class="fa fa-check-square"></i> Comida (30/04) </li>
                        <li><i class="fa fa-check-square"></i> Pack JSDayES </li>
                    </ul>
                    <div class="bottom">
                        <p><strong>AGOTADAS</strong></p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
