<section id="where" class="where-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <h2>{{ text.header.where }}</h2>
                <span class="center-line"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <h3>Cinesa Príncipe Pío</h3>
                Estación Príncipe Pío, Paseo de la Florida, 2, 28008 Madrid <br> <a target="noopener" href="https://www.cinesa.es/Cines/Principe-Pio">cinesa.es</a> <br><br>
                <h4><i class="fa fa-bus"></i> {{ text.where.transport }}</h4>
                Metro: L10, L6, Ramal Ópera Príncipe Pío<br>
                Cercanías: C1, C7, C10<br>
                Bus: 41, 46, 75, N20<br><br>
            </div>
            <div class="col-sm-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.3671593927743!2d-3.7234715846038897!3d40.42286817936446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422812ccf061d1%3A0xae6550e1ef47da01!2sCINESA%20PR%C3%8DNCIPE%20P%C3%8DO%203D!5e0!3m2!1ses!2suk!4v1583493093687!5m2!1ses!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>
