<section id="where" class="where-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 center-title text-center">
                <h2>{{ text.header.where }}</h2>
                <span class="center-line"></span>
                <!-- <p>
                </p> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <h3>La Nave</h3>
                Calle Cifuentes, 5, Villaverde, 28021 Madrid <br> <a target="noopener" href="http://www.lanavemadrid.com/">lanavemadrid.com</a> <br><br>
                <h4><i class="fa fa-bus"></i> {{ text.where.transport }}</h4>
                Metro - L3 - Villaverde Bajo<br>
                Cercanías - C5 - Puente Alcocer<br>
                Bus -  59 / 79 / N13 - Av. Andalucia - Alcocer<br><br>
                <img class="img-responsive" src="/img/nave.png" width="350" alt="La Nave">
            </div>
            <div class="col-sm-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1278.4777730316928!2d-3.6968669657855644!3d40.3478975710955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4226dcf242aacb%3A0xa1b61955263554eb!2sLa+Nave!5e0!3m2!1ses!2ses!4v1520964927838" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
