{% extends "layout.html" %}
{% block content %}
{% include "partials/header.html" %}
<div class="cfp-page">
    <div class="container">
        <h1>Call For Proposals</h1>

        <p>Many thanks to <a target="noopener" href="http://jsconf.eu">JSConf</a> for their amazing “Call for Speakers” as a base for this page.</p>

        <p>We are inviting the JavaScript community to submit talks for the upcoming <strong>JSDayEs (October 20th, Madrid)</strong>. This Call for Presentation closes on May 31th.</p>

        <p>If you think you have something great to talk about, tell us all about it and we consider your entry. If you know someone who has something great to talk about, nominate them.</p>

        <p class="submit-talk"><a target="noopener" href="{{koliseoCfp}}" class="btn btn-yellow btn-lg">Submit your proposal</a></p>

        <h2>Topics</h2>

        <ul>
            <li>Cutting-edge Javascript, Internals...</li>
            <li>Mobile JS</li>
            <li>Hardware JS</li>
            <li>The framework that came out yesterday</li>
            <li>How to improve you JS quality</li>
            <li>How I learn JS</li>
            <li>Crazy Ideas</li>
            <li>And finally: Whatever you want!</li>
        </ul>

        <h2>We Can Help</h2>

        <p>Not everybody is a natural talent on stage. Not everybody can produce kick-ass slide-decks. Not everybody is a live-demo-god. Not everybody knows they have something great to talk about.</p>

        <p>There are about a million reasons why you don’t consider yourself a speaker, in a conference where people with very high JS level  have spoken in the past. We are here to prove you wrong. If all you have is a gut feeling that you should be on stage, we are here to reach out and help you to develop or hone the skills you think you lack to deliver a great presentation.</p>

        <ul>
            <li>We are happy to brainstorm your interests to see if a great topic is hiding.</li>
            <li>We are happy to connect you with someone to help prepare your submission.</li>
            <li>We are happy to review and advise on how to produce a slide deck.</li>
            <li>If you need practice giving talks, get in touch, we can hook you up with local groups or set up a stage for you and a bunch of friends in advance, so you can practice in front of a friendly crowd.</li>
            <li>We are happy to connect you with someone to help prepare your submission.</li>
            <li>Again, whatever else you might need, we’re here to help.</li>
        </ul>

        <p><strong>We want that JSDayEs will be your first talk!</strong></p>

        <p>Get in touch: hola@jsday.es</p>

        <p>If you need more encouragement, check out <a target="noopener" href="http://weareallaweso.me/">We Are All Awesome</a> website that tries to convince you to speak.</p>

        <h2>The Perks</h2>

        <p>If you get selected as a speaker at <strong>JSDayEs</strong>, here’s what you get:</p>

        <ul>
            <li>Travel to Madrid covered. This usually means we pay for your plane or train ticket. We are happy to assist with booking your itinerary.</li>
            <li>Entrance to the conference (for you and for a companion). </li>
            <li>Hotel October 19th-20th, Madrid (2 nights, 2 people)</li>
        </ul>

        <p>If your employer can cover your travel and hotel, we are happy to list them as an awesome company sponsor. The money we save will be used to make the conference more awesome.</p>

        <p>If you have any special requirements, just let us know.</p>

        <h2>The Selection Process</h2>

        <p>Here’s roughly how we pick our talks:</p>

        <p>Anonymize submissions, so we don’t bias against anything related to the submitter.</p>

        <p>Two rounds of voting:</p>

        <ul>
            <li>The first round rates each talk on a scale from 1 to 10.</li>
            <li>De-anonymize so we can finally bias against speaker details. Based on our budget, we might opt for a local or at least closer-by (read: cheaper to transport) speaker. We also want to encourage diversity in the community, for example by giving priority to speakers who are going to give their first talk.</li>
        </ul>

        <p>If your talk has been selected we will try to notify you at the end of June or the beginning of July.</p>

        <h2>Other important things</h2>

        <ul>
            <li>Remember that you must comply with our <a href="{{root}}code-of-conduct-{{lang}}.html">Code of Conduct</a> as any attending the event.</li>
            <li>Before select your talk maybe we'll ask you additional questions.</li>
            <li>You can send several submissions.</li>
            <li>You can send a workshop (~2 hours).</li>
            <li>If you are select we will notify you in the following weeks.</li>
            <li>We also notify if you talk are not selected.</li>
            <li>The talk should have a maximum duration of 30 minutes.</li>
        </ul>

        <p class="submit-talk"><a target="noopener" href="{{koliseoCfp}}" class="btn btn-yellow btn-lg">Submit your proposal</a></p>
    </div>
</div>
{% endblock %}
