{% extends "layout.html" %}
{% block content %}
	{% include "partials/header.html" %}
	<div class="postsPage container 75%">
    <h1>Cómo hicimos la selección de las charlas<br> del <span class="jsdayes-title">JSDayES 2020</span></h1>

    <p>Este año la organización del JSDayES la conformamos un nuevo equipo.</p>
    <p>Repiten solamente dos personas. Las otras 4 son nuevas.</p>
    <p>De las seis, cinco somos desarrolladores, nos hemos pegado con Javascript y tenemos diferentes años de experiencia.</p>
  
    <p>Se han presentado un total de 105 charlas de las cuales:</p>
    <ul>
      <li>Solamente el 16% de las charlas fueron presentadas por mujeres, 67% de las charlas fueron presentadas por hombres y el 17% no especificaron género.</li>
      <li>Se presentaron muchas y variadas temáticas: Arquitectura, frameworks, testing, inspiracionales, vanilla, machine learning, accesibilidad, tooling, mesa redonda, IoT, infografía, animaciones, CSS...</li>
      <li>Hay aproximadamente un 34% de speakers conocidos dentro del mundo del desarrollo y un 66% de speakers poco o nada conocidos.</li>
      <li>Hay aproximadamente un 50% de speakers con alguna o mucha experiencia dando charlas y otro 50% de speakers que esperaban dar su primera charla en el JSDayES.</li>
    </ul>
    
    <p>Nos proponemos que haya diversidad de todo tipo en las charlas del JSDayES de 2020.</p>
    
    <p>Usamos 5 criterios de votación:</p>
    <ul>
      <li>Por autor: En función de la persona que presentaba charla. Si es conocido o no dentro del mundo del desarrollo. </li>
      <li>Por experiencia: En función de la experiencia profesional de los speakers.</li>
      <li>Por temática: En función del tema de la charla</li>
      <li>Por diversidad: teniendo en cuenta el género</li>
      <li>Aleatorio: Criterio a elegir por el organizador.</li>
    </ul>
    
    <p>En cada columna podemos votar un máximo de 31 puntos, repartidos en 5 charlas con 3 puntos, 5 charlas con 2 puntos y 6 charlas con 1 punto.</p>
    <p>Con cada criterio había que repartir los puntos de manera variada, es decir, había que repartir los puntos entre ponentes conocidos y desconocidos, con experiencia y sin experiencia, votar de todas las temáticas que hay, entre hombres y mujeres, y solamente en la aleatoria teníamos libertad para votar según el criterio de cada uno.</p>
    <p>Al finalizar las votaciones, seleccionamos las 4 charlas más votadas por cada columna y que además tuvieran el máximo de votos totales teniendo en cuenta los 5 criterios.</p>
    <p>Salieron 21 charlas porque en caso de empate había que poner todas las que tuvieran misma puntuación.</p>
    <p>Y de esas 21 filtramos, las charlas donde se repetía ponente o donde se repetía temática al menos 3 veces, descartando de esas la que menos votos tenía.</p>
    
    <p>De esta manera nos han quedado un total de 16 charlas. 14 que formarán parte del evento y dos de reserva. De los seleccionados en esos 14 sólo repite 1 de 2019<br>
    Conforme vayamos confirmando o no, iremos tirando de las 5 descartadas a priori.</p>
    
    <p>El resultado de haber votado de esta manera ha dado como resultado que:</p>
    <ul>
      <li>El 50% de las charlas seleccionadas las darán mujeres y el 50% hombres, aunque hay una mesa redonda formada por mujeres que hará que el porcentaje de mujeres sea mayor.</li>
      <li>Hay dos charlas que las dan parejas, una hombre-hombre y otra hombre-mujer (UPDATE: la pareja hombre-mujer se queda en hombre porque ella no puede asistir finalmente)</li>
      <li>Hay 1 charla de accesibilidad, 2 de testing, 2 de Progressive Web Apps, 2 inspiracionales, 2 de Web Components, 1 de APIs, 1 de temática FullStack, 1 de Frameworks, 1 de Tooling, 1 de Machine Learning, 1 de VanillaJS y 1 mesa redonda. </li>
      <li>8 de los speakers son muy conocidos en el mundo Javascript y 8 menos o nada conocidos.</li>
      <li>Al menos 3 de los speakers no han dado nunca una charla en un evento tan grande.</li>
    </ul>

    <p>Y desde la organización somos conscientes de:</p>
    <ul>
      <li>Quedaron fuera charlas de temas interesantes como IoT, CSS relacionado con JS, Animación... pero no entraban todas.</li>
      <li>Quedaron fuera charlas de grandes profesionales, conocidos y no tanto.</li>
      <li>A pesar de haber 4 charlas de hombres por cada charla de mujer, es necesario para el sector que el 50% de estas sean de mujeres</li>
      <li>No podíamos elegir todas las charlas.</li>
      <li>No hay un sistema de selección justo 100% ni que agrade al 100%</li>
    </ul>
    
    <p><strong>Estamos convencidos que con la diversidad de género y temáticas y la oportunidad a nuevos speakers saldrá un buen evento, pero seréis los asistentes los que juzgareis si hicimos una buena selección.</strong></p>
  </div>
{% endblock %}
