<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>JSDayES 2017: Código de Conducta</title>

		<!-- build:css css/main-conduct.css -->
		<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="css/codigo-page.css" media="screen">
		<!-- endbuild-->
	</head>
	<body class="codigoPage">

		<h1>Código de Conducta JSDayES 2017</h1>

<p>Nosotros, los organizadores de JSDayES 2017, nos comprometemos a mantener
un entorno sin abusos para todo el mundo, sin importar sexo, identidad u orientación
sexuales, discapacidad, aspecto físico, edad, raza, nacionalidad
o creencias religiosas.
No toleraremos el acoso a miembros de la comunidad bajo ningún concepto.
Los participantes que violen estas reglas pueden ser sancionados o expulsados
de la comunidad a discreción de los organizadores de JSDayES 2017.</p>

<p>Las formas de acoso incluyen comentarios ofensivos, orales o escritos,
relacionados con sexo, identidad u orientación sexuales, discapacidades,
aspecto físico, edad, raza, nacionalidad o creencias religiosas,
intimidación, amenazas, persecución, acecho, fotografías o grabaciones abusivas,
y atenciones sexuales no gratas.
El lenguaje o las imágenes sexuales no se permiten en ningún evento de
JSDayES 2017, en encuentros o comunicaciones relacionadas.
Los miembros de la comunidad a los que se les pida que paren cualquier
conducta abusiva deben obedecer inmediatamente.
Los espónsors y presentadores están también sujetos al código de conducta.</p>

<p>Si un miembro de la comunidad mostrara cualquier conducta abusiva,
los organizadores de JSDayES 2017 pueden tomar cualquier acción
que crean apropiada, incluyendo avisar a los que ofendan o expulsarlos
de la comunidad. Si eres víctima de conductas abusivas, ves a otra persona
que está siendo acosada, o tienes dudas, por favor contacta con el equipo
organizador inmediatamente.</p>

<h2>Equipo Organizador JSDayES 2017</h2>

<ul>
	<li>Raquel Benito <a href="https://twitter.com/Pand_Ra">@Pand_Ra</a></li>
	<li>María Sánchez <a href="https://twitter.com/chimarys">@chimarys</a></li>
	<li>Juanfran Alcántara <a href="https://github.com/juanfran/">juanfran</a></li>
	<li>Alejandro Fernández <a href="https://twitter.com/pinchito">@pinchito</a></li>
</ul>

<p><strong>Si tienes preguntas o sugerencias sobre este código de conducta,
	por favor contacta con uno de los organizadores.</strong></p>

<p>Los organizadores mostrados arriba hemos desarrollado este código de conducta
para gobernar los eventos y canales de comunicación respectivos.
Adaptado de NodeSchool Madrid y de NodeSchool Berlín.
Hemos usado estas fuentes como punto de partida:</p>

<ul>
	<li><a href="http://www.meetup.com/pdxpython/pages/Code_of_Conduct/">PDX Python's anti-harassment policy</a></li>
	<li><a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Geek Feminism Conference anti-harassment policy</a></li>
</ul>

<p>Traducido por <a href="https://twitter.com/pinchito">@pinchito</a>.</p>

<p>Este código de conducta, al igual que sus fuentes, está licenciado bajo la licencia <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero license</a>.</p>

	</body>
</html>
